aside{
    position: absolute;
     right: 0;
     left: 0;
    top: 100px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    transform: translateX(-100%);
    transition:  all 1s;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.open-menu{
    border-top: 2px solid tomato;
    transform: translateX(0%);
}

aside ul{
    margin: 30px 40px;
}

aside ul li{
    margin-bottom: 10px;
}
.mobile-menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 30px;
}

.mobile-menu-top input{
    flex: 1;
    height: 100%;
    padding: 30px;
    outline: none;
}

.mobile-menu-top button{
    border: none;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.sidebar{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
