:root{
    --primary-text-color: #49557e;
    --theme-color: tomato;
}

nav{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 140px;
}
.navbar-menu{
    display: flex;
    gap: 20px;
    color: var(--primary-text-color);
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-btn{
    background-color: transparent;
    font-size: 16px;
    color: var(--primary-text-color);
    padding: 10px 30px;
    border: 1px solid var(--theme-color);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.nav-btn:hover{
    background-color: var(--theme-color);
    color: white;
}
.activeLink{
    border-bottom: 2px solid var(--primary-text-color);
}
.mini-menu{
    position: relative;
}
.dot{
    min-width: 10px;
    min-height: 10px;
    background-color: var(--theme-color);
    border-radius: 50%;
    position: absolute;
    top:-8px;
    right: -8px;
}

/* responsive design for screen upto 1080px */
@media (max-width: 1050px){
    .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .nav-btn{
        padding: 8px 25px;
    }
}
/* responsive design for screen upto 900px */
@media (max-width: 900px){
    .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .nav-btn{
        padding: 8px 25px; 
        font-size: 15px;
    }
}
/* responsive design for screen upto 900px */
@media (max-width: 750px){
    .navbar-menu{
       display: none;
    }
}