.msg-overlay{
    position: absolute;
    inset: 0;
    background-color: #e6e6e66e;
    display: grid;
}
.msg-container{
    place-self: center;
     width: max(23vw, 330px);
   color: #808080;
   background-color: white;
    display: flex;
   flex-direction: column;
   gap: 25px;
   padding: 25px 30px;
   border-radius: 8px;
   font-size: 14px;
   animation: slideIn 0.5s;
}

